libDefs.serialized filter=lfs diff=lfs merge=lfs -text
newParsing-GAT1-fc2-newSim-decay-6/model.serialized filter=lfs diff=lfs merge=lfs -text
newParsing-GAT1-fc2-newSim-decay-6/params.serialized filter=lfs diff=lfs merge=lfs -text
