# manually include files
*

!src/models
!src/project

# Don't include target
src/project/**/target

!src/scripts/ts/*.ts
!src/scripts/ts/package*.json
!src/scripts/ts/tsconfig.json
!src/src/main
!src/build.sbt
